body{

}

#container{
	
	border:1px yellow solid;
}

#div1{
	float: left;
	height: 100px;
	background-color: red;
}

#div2{
	float:left;
	height: 100px;
	background-color: blue;
}

#div3{
	border:2px solid black;
}
